.show {
  display: none;
  visibility: hidden;
  margin-top: 2rem;
}
.hide{
    margin-top: 2rem;
}
@media screen and (min-width: 500px) {
  .show {
    display: block;
    visibility: visible;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 500px) {
  .hide {
    display: none;
    visibility: hidden;
    margin-top: 2rem;
  }
}
